body {
  background-color: #adb2d4;
  color: #211c84;
  text-align: center;
  margin: 0;
  padding: 0;
}
.add-activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-activity input,
select {
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.register_container {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
}

.register_container input {
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

header {
  width: 100%;
  max-height: 200px;
}

header img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}
.intro {
  padding: 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 15%;
}

.activity-item.selected {
  border: 2px solid #000;
  border-radius: 30px;
  background-color: #ffd65a;
  padding: 10px;
}
#submit {
  background-color: #f93827;
  width: 100px;
  padding: 15px;
  border-radius: 30px;
}

#submit:hover {
  background-color: #ffd65a;
  cursor: pointer;
}

button,
.btn-primary {
  padding: 15px;
  background-color: #f93827;
  border-radius: 30px;
  width: 100px;
  margin-top: 25%;
}
button:hover {
  background-color: #ffd65a;
  cursor: pointer;
}

.input_group {
  margin-bottom: 15px;
}

.input_field input,
.input_field select {
  width: 30%;
  padding: 8px;
  border: 1px solid #f6f7c4;
  border-radius: 5px;
  background-color: #7bd3ea;
}

.submit_button {
  margin-top: 10px;
}
.start_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.btn-primary:hover {
  background-color: #ffd65a;
  cursor: pointer;
}

/* Reset the ul default styles and apply flex layout */
.intro ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row; /* This ensures the li elements are in a row */
  gap: 20px; /* Optional: adds spacing between list items */
}

/* Optional: style each list item */
.intro li {
  list-style: none;
}

/* Container that holds all day boxes */
.calendar-container {
  list-style: none;
  padding: 10px;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Spacing between boxes */
}

/* Each day styled as a box */
.calendar-box {
  border: 1px solid #ccc;
  padding: 10px;
  width: 60px; /* Fixed width for each box */
  height: 60px; /* Fixed height for each box */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 5px; /* Rounded corners, optional */
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.crossed::before,
.crossed::after {
  content: '';
  position: absolute;
  top: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #211c84;
  transform-origin: center;
}

.crossed::before {
  transform: rotate(45deg);
}

.crossed::after {
  transform: rotate(-45deg);
}
