<footer class="site-footer">
  <div class="footer-grid">
    <div class="footer-branding">
      <img
        src="{{ url_for('static', filename='new_logo.svg') }}"
        alt="Just Did It logo"
        class="footer-logo"
      />

      <p class="mb-0">&copy; {{ current_year }} All rights reserved.</p>
      <!-- <p class="mb-1">&copy; {{ current_year }}</p> -->
    </div>

    <div class="footer-links">
      <p class="column-title">About me</p>
      <ul class="link-list">
        <li>
          <a href="https://storytelling-cv-production.up.railway.app/" target="_blank">Résumé</a>
        </li>
        <li>
          <a href="https://www.bitsandscribbles.com/" target="_blank">My Blog</a>
        </li>
        <li><a href="https://victoriamunteanu.com/" target="_blank">My Portfolio</a></li>
      </ul>
    </div>

    <div class="footer-links">
      <p class="column-title">Built with</p>
      <ul class="link-list">
        <li>
          <a href="https://flask.palletsprojects.com/" target="_blank">Flask</a>
        </li>
        <li>
          <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
        </li>
        <li><a href="https://iconify.design/" target="_blank">Iconify</a></li>
      </ul>
    </div>
    <div class="footer-links">
      <p class="column-title">Built with</p>
      <ul class="link-list">
        <li>
          <a href="https://roughjs.com/" target="_blank">Rough.js</a>
        </li>
        <li>
          <a href="https://www.figma.com/" target="_blank">Figma</a>
        </li>
        <li><a href="https://www.python.org/" target="_blank">Python</a></li> 
        </li>
      </ul>
    </div>
  </div>
</footer>
