<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Add Activity</title>
  </head>
  <body class="add-activity">
    <h1>What do you want to get good at?</h1>
    <div class="inner-container">
      <form method="POST" action="{{ url_for('add_activity') }}">
        {{ form.hidden_tag() }}
        <div class="form_field">{{ form.name.label }} {{ form.name() }}</div>
        <div class="form_field">
          {{ form.color.label }}
          <!-- Use an HTML5 color input if possible -->
          <input type="color" name="color" value="#ff0000" />
        </div>
        <div class="form_field">
          {{ form.progress.label }} {{ form.progress() }}
        </div>
        <div class="submit_button">{{ form.submit() }}</div>
      </form>
    </div>
    <a href="{{ url_for('home') }}"><button>Home</button></a>
  </body>
</html>
