{# templates/auth_home.html #} {% extends "base.html" %} {% block title %}Home ·
Just Did It{% endblock %} {% block content %} {% if not
current_user.is_authenticated %}

<section class="hero">
  <div class="intro-quote">
    <h1>Success is the sum of small efforts, repeated day in and day out.</h1>
  </div>
</section>

<section class="text-section">
  <div class="intro-text">
    <h2>Small habits, big changes.</h2>
    <p>
      Nearly half of what we do each day runs on autopilot. That means,
      <em>every little habit matters.</em> Build the right ones, repeat them,
      and watch small steps turn into lasting transformation.
    </p>
  </div>
</section>

<section class="buttons-section">
  <div class="intro-text-description">
    <p>
      Get started by adding an activity you want to track. Log your progress
      each day.
      <br class="consistency-text" />Consistency is key to turning actions into
      habits.
    </p>
  </div>
  <div class="buttons">
    <div class="all_buttons">
      <a href="{{ url_for('login') }}"><button>Login</button></a>
    </div>
    <div class="all_buttons">
      <a href="{{ url_for('register') }}"><button>Register</button></a>
    </div>
  </div>
</section>
{% endif %} {% endblock %}
