{% include "header.html" %}
<body>
  <div class="intro-quote">
    {% if not current_user.is_authenticated: %}
    <h1>Success is the sum of small efforts, repeated day in and day out.</h1>

    {% else %}
    <h1>{{ current_user.name }}'s Dashboard</h1>
    {% endif %}
  </div>
  {% if not current_user.is_authenticated: %}
  <div class="all_buttons">
    <a href="{{ url_for('login') }}">
      <button>Login</button>
    </a>
  </div>
  {% else %}
  <section class="buttons">
    <div class="all_buttons">
      <a href="{{ url_for('add_activity') }}">
        <button>Add</button>
      </a>
    </div>
    <div class="all_buttons">
      <a href="{{ url_for('track') }}">
        <button>Track</button>
      </a>
    </div>
  </section>
  {% endif %}
</body>
{% include "footer.html" %}
