{% include "header.html" %}
<body>
  <div class="intro-quote">
    {% if not current_user.is_authenticated: %}
    <h1>Success is the sum of small efforts, repeated day in and day out.</h1>
    {% else %}
    <h1>{{ current_user.name }}'s Dashboard</h1>
    {% endif %}
  </div>
  {% if not current_user.is_authenticated: %}
  <h3><a href="{{ url_for('login') }}"> Log in</a> to get started</h3>
  {% else %}
  <div class="start_button">
    <a href="{{ url_for('add_activity') }}">
      <button>Start</button>
    </a>
  </div>
  {% endif %}
</body>
{% include "footer.html" %}
