{# templates/login.html #} {% extends "base.html" %} {% block title %}Login ·
Just Did It{% endblock %} {% block content %} {% with messages =
get_flashed_messages(with_categories=true) %} {% if messages %}
<div class="error-messages">
  {% for category, message in messages %}
  <div
    class="alert alert-{{ category }} alert-dismissible fade show"
    role="alert"
  >
    {{ message }}
  </div>
  {% endfor %}
</div>
{% endif %} {% endwith %}

<form method="POST" action="{{ url_for('login') }}" class="login-form">
  {{ form.hidden_tag() }}

  <div class="login-field">
    {{ form.email(size=38) }} {% for error in form.email.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </div>

  <div class="login-field">
    {{ form.password(size=38) }} {% for error in form.password.errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
  </div>

  <div>
    <input id="submit" type="submit" value="Login" />
  </div>
</form>

{% endblock %}
