{% include "header.html" %}
<body>
  <div class="intro">
    {% for activity in activities %}
    <ul class="tracking">
      <li class="activity-item" data-activity-color="{{activity.color}}">
        {{activity.name}}:
        <form
          method="POST"
          action="{{ url_for('update_activity_color', activity_id=activity.id) }}"
        >
          <input
            type="color"
            name="activity_color"
            class="activity-color-picker"
            value="{{activity.color}}"
          />
          <button type="submit">Save</button>
        </form>
      </li>
    </ul>
    {% endfor %}
  </div>
  <ul class="calendar-container">
    {% for day in days %}
    <li class="calendar-box">{{ day }}</li>
    {% endfor %}
  </ul>
  <!-- Include the JavaScript file -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
{% include "footer.html" %}
