{% include "header.html" %}
<body>
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %}
  <div class="container mt-3">
    {% for category, message in messages %}
    <div
      class="alert alert-{{ category }} alert-dismissible fade show"
      role="alert"
    >
      {{ message }}
    </div>
    {% endfor %}
  </div>
  {% endif %} {% endwith %}

  <div class="intro-activities">
    {% for activity in activities %}
    <ul class="tracking">
      <li
        class="activity-item"
        data-activity-id="{{ activity.id }}"
        data-activity-color="{{ activity.color }}"
      >
        {{ activity.name }}:
        <form
          method="POST"
          action="{{ url_for('update_activity_color', activity_id=activity.id) }}"
        >
          <input
            type="color"
            name="activity_color"
            class="activity-color-picker"
            value="{{ activity.color }}"
          />
          <button type="submit">Save</button>
        </form>
      </li>
    </ul>
    {% endfor %}
  </div>
  {% for month, days in days_by_month.items() %}
  <h2>{{ month }}</h2>
  <ul class="calendar-container">
    {% for day in days %}
    <li class="calendar-box">{{ day }}</li>
    {% endfor %}
  </ul>
  {% endfor %}
  <!-- Include the JavaScript file -->
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
{% include "footer.html" %}
